@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'form.scss';

body{
  margin: 0px 0px 0px 0px; 
}

input{
  width: 200px;
  height: 25px;
  border: none;
  margin: 5px 0px;
  font-family: 'Source Sans Pro';
  color: whitesmoke;
}

input::placeholder{
  color: #300C39;
}

select{
  width: 200px !important;
  height: 25px !important;
}

.lato{
  font-family: 'Lato' !important;
  color: #300C39;
}

.icon{
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 10px 10px 19px 1px rgba(0,0,0,0.75);
  
  &-1{
    @extend .icon;
    margin-top: -20px;
    margin-left: 100px
  }
  &-2{
    @extend .icon;
    margin-top: 10px;
    margin-left: -100px;
  }
  &-3{
    @extend .icon;
    margin-left: 120px;
  }
  &-4{
    @extend .icon;
    margin-left:-100px
  }
  &-5{
    @extend .icon;
    margin-top: 20px;
    margin-left: 100px;
  }
}

.wrapper{
  background-image: url(https://prod-static-content.fetchrewards.com/content-service/image/web/c718d1eee0/HEADER_Fuzzy_Phone_2xl.webp);
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.icon-wrapper{
  display:flex;
  flex-direction: column;
  margin-left: 260px;
  margin-top: 166px;
}

@media all and (orientation:portrait) {
   .icon-wrapper{
    display: none;
  } 
}
 